<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <nav class="sidebar">
        <h1>PasskeyAUTH</h1>
        <a href="/">Home</a>
        <h3>About Authentication</h3>
        <a href="/history-authentication">History of Authentication</a>
        <a href="/webauthn-authentication">WebAuthn Authentication</a>
        <a href="/token-authentication">Token Authentication</a>
        <a href="/totp-authentication">TOTP Authentication</a>
        <a href="/security-vulnerabilities">Security Vulnerabilities</a>
        <h3>Authentication Demo</h3>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </nav>
    <main>
        <h2>Security Vulnerabilities</h2>
        
        <div>
            <h3>The Demo utilises a number of secure authentication methods, however there are some potential security vulnerabilities</h3>
            <ul>
                <li><b>Password Hashing: </b> Whilst the hashing is secure, it is not as secure as it could be. A separate pepper stored securely and separately to the database would further significantly increase the computational work required to compute all possible passwords with brute force as the pepper will also have to be brute forced first. A hacker could however, deliberately make a new password and using its salt the hacker would require far less computational power to crack the pepper as only the pepper needs to be brute forced.</li>
                <li><b>Tokens: </b> The session tokens are stored as cookies, not in the session storage. Due to the way browsers are configured this makes them far more likely to be subject to Cross-Site Scripting Attacks where JS code on another site could be used to retrieve the cookie and send it to an attacker. Also there is no origin checking on the tokens which would reduce the risk of such attacks. </li>
                <li><b>TOTP: </b> The security flaw with TOTP is that the secret key is stored in the database in plaintext. If the secret key is compromised it can be easily used to calculate the 6 digit OTPs. As such it should be stored in the database encrypted, not in plaintext.</li>
                <li><b>WebAuthn: </b> For the WebAuthn feature, the origin and challenge checking is rudimentary and these should be properly verified by checking the signature in the authenticatorData field to prevent phishing attacks. Also, proper checking on the Public Key against root certificates should be done to ensure that the user is registering with an authenticator with a Certificate from a trusted authority (i.e. Google, Microsoft, Apple).</li>
            </ul>
            <p>Also, all the security mechanisms are irrelevant if the site does not use HTTPS as HTTP is not encrypted and as such attackers can easily conduct Man in the Middle attacks.</p>
        </div>
        
    </main>
</body>
</html>