#totp-tool-container {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#otp-secret {
    display: flex;
    flex-direction: row;
}


#qr-code {
    width: 300px;
}

#otp-qr-code {
    width: 300px;
    height: 300px;
    background-color: #f3f3f3;
}

#key-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#generating-qr-code {
    border-bottom: 1px solid #f3f3f3;
}

#validate-totp {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 10px;
}