<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h2>You have successfully logged in, please click "It's Me" on the SecureAuth App.</h2>
    <h3>Please enter the following code on the SecureAuth App.</h3>
    <div id="temp-code-container">
        <span id="temp-code"></span>
    </div>
    <form method="POST">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>