<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <nav class="sidebar">
        <h1>PasskeyAUTH</h1>
        <a href="/">Home</a>
        <h3>About Authentication</h3>
        <a href="/history-authentication">History of Authentication</a>
        <a href="/webauthn-authentication">WebAuthn Authentication</a>
        <a href="/token-authentication">Token Authentication</a>
        <a href="/totp-authentication">TOTP Authentication</a>
        <a href="/security-vulnerabilities">Security Vulnerabilities</a>
        <h3>Authentication Demo</h3>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </nav>
    <main>
        <h2>Time-Based One Time Password (TOTP) Authentication</h2>
        
        <div>
            <h3>What is TOTP Authentication?</h3>
            <p>
                Time-Based One Time Password (TOTP) is a method of Multi-Factor Authentication. After a user registers for an account, they are provided with a QR code which they can scan into an authenticator app such as Google Authenticator. Then, when logging into an account they must first enter their username and password, if correct they proceed to a new screen in which they need to enter the 6 digit code from their authenticator app to be able to login. The code changes every 30 seconds so after a short period of time the code is useless to login with.
            </p>
            <p>
                The purpose of TOTP is to mitigate the risk of cyberattacks, particularly phishing attacks as the username and password becomes useless without the TOTP code which if intercepted is only valid for 30 seconds with a small amount of leniency for time differences between authenticators and the server.
            </p>
            <p>
                The current TOTP protocol was first developed in 2010 and is a significant improvement on OTPs from since the 1980s which were physical tokens, particularly with financial institutions.
            </p>
            <img src="/static/assets/rsa-token.jpg" />
        </div>
        <div>
            <h3>How TOTP Authentication works?</h3>
            <h4>Registering a new TOTP Key</h4>
            <p>
                <b>Step 1 (Create Secret Key): </b> The server produces a random secret key (in base 32) and saves it in the database (encrypted, not in plaintext).
            </p>
            <p>
                <b>Step 2 (Create QR Code): </b> The secret key is sent to the user's browser as a QR code which the user can then scan into an authenticator app.
            </p>
            <p>
                The QR code data is in the following format:  otpauth://totp/WEBSITE_NAME:USER_EMAIL?secret=SECRET_KEY&issuer=WEBSITE_NAME&digits=NUM_DIGITS_IN_CODE&period=CODE_EXPIRY_SECONDS
            </p>
            <p>
                <b>Step 3 (User Scans QR Code into App): </b> User scans this QR code into an app such as Google Authenticator which can now produce 6 digit TOTP codes with the secret key and current time using the algorithm (explained below).
            </p>
            <h4>Logging in with a TOTP Key</h4>
            <p>
                <b>Step 1 (User Logs in with Username & Password): </b> The user logs in with their username and password and then gets taken to the 2 step verification page.
            </p>
            <p>
                <b>Step 2 (User Enters TOTP Code): </b> The user enters the TOTP code from their authenticator app and this is sent to the server for verification.
            </p>
            <p>
                <b>Step 3 (Server Verification): </b> The server verifies the TOTP code is correct by retrieving the secret key for the user from the database and the current time and performing the TOTP algorithm and produces an array of possible TOTP codes validating the user is the user's code matches any of these.
            </p>
            <p>
                The reason why the server calculates a list of possible codes is because there needs to be some leniency with the time. It is highly unlikely the time on the authenticator device (i.e. the phone's time) will be exactly synchronised with the time on the server. As such we need to calculate a number of codes, for example codes for the current time as well as the previous 90 seconds and the next 90 seconds to provide some leniency for time differences.
            </p>
        </div>
        <div>
            <h3>The TOTP Algorithm</h3>
            <p>The TOTP algorithm is actually a minor variation of the Hop Based One Time Password algorithm used in hopping OTP methods such as S/KEY. The only difference is that each hop is represents the next 30 second interval on top of the current UNIX time (seconds since 00:00:00 1 January 1970 UTC/London time) / 30 seconds.</p>
            <p>
                <b>Step 1 (Calculate Current Hop): </b> Calculate the current UNIX time (seconds since midnight 1 Jan 1970 UTC/London time) and divide it by 30 seconds to get the current hop number. (Use a different time to the current time if attempting to find the OTP code 90 seconds ago or 90 seconds in the future)
            </p>
            <p>
                <b>Step 2 (Convert the Hop Number to Binary): </b> The hop number is to be converted to binary, represented as a Long Long int (64 bit)
            </p>
            <p>
                <b>Step 3 (Hash the Hop Number with the Secret Key): </b> The base 32 Secret Key (as bytes) should be hashed with the binary version of the hop number using the HMAC-SHA1 algorithm.
            </p>
            <p>
                <b>Step 4 (Calculate the Offset): </b> The offset is equal to the number represented by the last 4 bits of the hash.
            </p>
            <p>
                <b>Step 5 (Truncate the Hash): </b> The hash from Step 3 is now to be truncated, by extracting 32 bits, starting from the bit at the index that corresponds to the offset number.
            </p>
            <p>
                <b>Step 6 (Get the Last 6 Digits of the Truncated Hash): </b> Get the last 6 digits of the truncated hash (as an integer), you can do this by performing the calculation TRUNCATED_HASH mod 10 ^ 6
            </p>
            <p>
                <b>Step 7 (Make Sure the Code is 6 Digits): </b> In Step 6, some languages might automatically remove the leading 0s in the 6 digit numbers, make sure that if the result is less than 6 digits, 0s are padded to the left of the number.
            </p>
        </div>
    </main>
</body>
</html>